/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 10px;
  background-color: #f2f2f2;
}
/* /////////////////////////////////// */
/* build styles */
.main-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.body-container {
  display: flex;
  flex-direction: column;
}
.skills-card {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
/* /////////////////////////////////// */
/* ready styles */
.mt-in-one {
  margin-top: 10px;
}
.mt-in-two {
  margin-top: 30px;
}
.mb {
  margin-bottom: 20px;
}
.mt-out {
  margin-top: 50px;
}
.l-font {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
}
.h-font {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 600;
}
.h-font-two {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.t-font {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 500;
}
.tag a {
  text-decoration: none;
  color: #828282;
  font-size: 18px;
}
.tag-null {
  text-decoration: none;
}
.n-font {
  color: #828282;
  font-size: 18px;
}
.btn-fill {
  width: 136.269px;
  height: 46px;
  color: #fff !important;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 12px;
  background: #2f80ed;
}
.btn-border {
  width: 136.269px;
  height: 46px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 12px;
  border: 1px solid #2f80ed;
}
/* Custom styles */
/* /////////////////////////////////// */
/* profile styles */
.profile-card {
  height: auto;
  width: 450px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}
.profile-card > img {
  background-repeat: no-repeat;
  height: 400px;
  width: 410px;
  border-radius: 12px;
}
/* experience styles */
.experience {
  width: 450px;
  height: auto;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
}
.experience-one,
.experience-two,
.experience-three {
  display: flex;
  gap: 30px;
}
.exp-one-image > img,
.exp-two-image > img,
.exp-three-image > img {
  width: 84px;
  height: 84px;
}
/* hobbies styles */
.hobbies-container {
  width: 450px;
  height: auto;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
}
.hobbies-content a {
  text-decoration: none;
}
.hobbies-image > img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  background-repeat: no-repeat;
}
/* /////////////////////////////////// */
/* body content / frontend and design skills card styles */
.front-end,
.design-end {
  background-color: #fff;
  height: 315px;
  width: 500px;
  border-radius: 12px;
  padding: 20px;
}
.react-container,
.javascript-container,
.css-container,
.vue-container,
.redux-container,
.react-native-container,
.figma-container,
.photoshop-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.react-main,
.javascript-main,
.css-main,
.vue-main,
.redux-main,
.react-native-main,
.figma-main,
.photoshop-main {
  background-color: #c4c4c4;
  width: 300px;
  height: 10px;
  border-radius: 12px;
}
.react {
  height: 10px;
  width: 156px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.javascript {
  height: 10px;
  width: 230px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.css {
  height: 10px;
  width: 260px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.vue {
  height: 10px;
  width: 220px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.redux {
  height: 10px;
  width: 200px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.react-native {
  height: 10px;
  width: 218px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.figma {
  height: 10px;
  width: 155px;
  background-color: #2f80ed;
  border-radius: 12px;
}
.photoshop {
  height: 10px;
  width: 198px;
  background-color: #2f80ed;
  border-radius: 12px;
}
/* project and blog styles */
.project-head,
.blog-head {
  padding: 20px;
  height: 66px;
  background-color: #fff;
  border-radius: 12px;
}
.project-one,
.project-two,
.project-three {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.project-image > img {
  background-repeat: no-repeat;
  display: flex;
  width: 322px;
  height: 240px;
  border-radius: 12px;
}
.content-tag {
  display: flex;
  gap: 20px;
}
/* blog styles */
.blog-one {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 20px;
}
.blog-image > img {
  display: flex;
  background-repeat: no-repeat;
  width: 420px;
  height: 274px;
  border-radius: 12px 0px 0px 12px;
  margin-right: -20px;
}
.outbound-link {
  color: #2f80ed;
  text-decoration: none;
  font-weight: 500;
}
/* blog gallery styles */
.blog-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog-two a,
.blog-three a,
.blog-four a {
  text-decoration: none;
}
.blog-two,
.blog-three,
.blog-four {
  width: 330px;
  height: 568px;
  border-radius: 12px;
  background: #fff;
  padding: 20px;
}
.blog-two-image > img,
.blog-three-image > img,
.blog-four-image > img {
  background-repeat: no-repeat;
  width: 292px;
  height: 217px;
  border-radius: 12px;
}
/* blog pagination */
.blog-pagination {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}
.pagination {
  text-align: right;
}
.pagination > a {
  text-decoration: none;
}
.pg-box {
  padding: 3px 15px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  color: #4f4f4f;
  border: 2px solid #e8e8e8;
}
.active {
  padding: 3px 15px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f80ed;
  border: 2px solid #2f80ed;
  transition: 0.5s;
}
.pg-box:hover {
  padding: 3px 15px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f80ed;
  border: 2px solid #2f80ed;
  transition: 0.5s;
}
/* footer styles */
.footer {
  text-align: center;
  padding: 150px 150px 0px 150px;
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}
.f-font a{
  color: #828282;
  font-weight: 700;
  text-decoration: none;
}
.f-font a:hover{
  color: #2f80ed;
}
