/* global styles */
* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f2f2f2;
}
main {
  width: 1300px;
  overflow: hidden;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: #4f4f4f;
}
/* ***************** PRE STYLES ***************** */
/* PRE STYLES / margin styles */
.mt--one {
  margin-top: 10px;
}
.mt--two {
  margin-top: 30px;
}
.mt--three {
  margin-top: 50px;
}
/* PRE STYLES / Font hover */
.project__context > h3 > a:hover,
.tags > p > a:hover,
.blog__context > h3 > a:hover {
  color: #2f80ed;
  transition: 0.5s;
}

/* PRE STYLES / font styles */
.h--font {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.h--font--two {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 600;
}
.h--font--three {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.n--font {
  color: #828282;
  font-size: 16px;
}
.t--font {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
}
/* PRE STYLES / btn styles */
.btn--fill {
  color: #f2f2f2;
  padding: 12px 40px;
  border-radius: 12px;
  background-color: #2f80ed;
  border: none;
}
.btn--fill:hover {
  color: #2f80ed;
  padding: 12px 40px;
  border-radius: 12px;
  transition: 0.5s;
  border: 1px solid #2f80ed;
  background-color: #ffffff;
}
.btn--border {
  color: #2f80ed;
  padding: 12px 40px;
  border-radius: 12px;
  border: 1px solid #2f80ed;
  background-color: #ffffff;
}
.btn--border:hover {
  color: #f2f2f2;
  padding: 12px 40px;
  border-radius: 12px;
  background-color: #2f80ed;
  transition: 0.5s;
}
/* ////////////////////////////////////// */
/* profile card styles */
.aside__profile--card {
  padding: 20px;
  height: auto;
  width: 413px;
  border-radius: 12px;
  background: #fff;
}
.aside__profile--img > img {
  height: auto;
  width: 100%;
  border-radius: 12px;
}
/* skills card styles */
.skills__container {
  display: flex;
  gap: 20px;
}
.card--tittle {
  margin: 0px;
}
.frontend__card {
  padding: 20px;
  width: 413px;
  height: auto;
  border-radius: 12px;
  background: #fff;
}
.design__card {
  padding: 20px;
  width: 413px;
  height: auto;
  border-radius: 12px;
  background: #fff;
}
.react__skill,
.javascript__skill,
.css__skill,
.vue__skill,
.redux__skill,
.react__native__skill,
.figma__skill,
.photoshop__skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.react__progress__container,
.javascript__progress__container,
.css__progress__container,
.vue__progress__container,
.redux__progress__container,
.react__native__progress__container,
.figma__progress__container,
.photoshop__progress__container {
  width: 237px;
  height: 10px;
  border-radius: 12px;
  background: #c4c4c4;
}
.photoshop__progress {
  width: 95%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.figma__progress {
  width: 91%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.react__progress {
  width: 75%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.javascript__progress {
  width: 88%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.css__progress {
  width: 90%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.vue__progress {
  width: 66%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.redux__progress {
  width: 85%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
.react__native__progress {
  width: 95%;
  height: 10px;
  border-radius: 12px;
  background: #2f80ed;
  margin: 0px;
}
/* ////////////// PROJECT STYLES ////////////// */
.project__bread__crumb {
  border-radius: 12px;
  background: #fff;
  padding: 20px;
}
.project__one,
.project__two,
.project__three {
  display: flex;
  gap: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  width: 859px;
  height: 320px;
}
.tags > p {
  margin: 0px;
}
.tags {
  display: flex;
  gap: 20px;
}
.demo__btn {
  margin-right: 10px;
}
.featured__img__one,
.featured__img__two,
.featured__img__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured__img__one > img,
.featured__img__two > img,
.featured__img__three > img {
  width: 322px;
  height: 274px;
  border-radius: 12px;
}
/* .featured__img__one {
  width: 322px;
  height: 274px; 
  overflow: hidden;
}
.featured__img__one > img {
  transition: 0.5s ease;
}
.featured__img__one:hover img {
  transform: scale(1.5);
} */
/* BLOG Styles */
.blog__bread__crumb {
  border-radius: 12px;
  background: #fff;
  padding: 20px;
}
.blog__one {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  padding: 20px;
}
.blog__one__img > img {
  width: 322px;
  height: 274px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.q__link {
  color: #2f80ed;
  font-size: 16px;
  font-weight: 500;
}
